<h1>Login</h1>

    <form action="" method="post">
      <div>
        <label>Username (or email address):</label>
        <input type="text" name="usernameEmail" value="{{reqBody.usernameEmail}}"/>
          <span class="jrErrorInline">{{jrResult.errorFields.usernameEmail}}</span>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password"  value="{{reqBody.password}}"/>
          <span class="jrErrorInline">{{jrResult.errorFields.password}}</span>
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>

