<h1>Complete your Account Registration</h1>

    <form action="" method="post">
      <div>
        <label>Requested Username:</label>
        <input type="text" name="username" value="{{reqbody.username}}" />
          <span class="jrErrorInline">{{jrResult.fields.username}}</span>
        <br/>
      </div>
      <div>
        <label>Requested Email:</label>
        <input type="text" name="email" value="{{reqbody.email}}"/>
          <span class="jrErrorInline">{{jrResult.fields.email}}</span>
      </div>

      <div>
        <label>Password:</label>
        <input type="password" name="password" value="{{reqbody.password}}" />
          <span class="jrErrorInline">{{jrResult.fields.password}}</span>
      </div>

      <input type="hidden" name="realName" value="{{reqbody.realName}}" />

      <input type="hidden" name="verifyCode" value="{{reqbody.verifyCode}}" />
      <input type="hidden" name="verifyCodeHashed" value="{{reqbody.verifyCodeHashed}}" />

      <div>
        <input type="submit" value="Submit" />
      </div>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>



