<h1>Profile</h1>

<div>Full user data:<pre>{{jrHtmlDebugObj extraViewData}}</pre></div>

{{#if csrfToken}}
	<!-- as a demonstration of using crud form from profile editing data -->
	<form action="" method="post">

		{{genericMainHtml}}
	
	   	<div>
        	<input type="submit" value="Submit" />
    	</div>

    	<input type="hidden" name="_csrf" value="{{csrfToken}}">

    </form>

{{else}}

		{{genericMainHtml}}

{{/if}}

