<h1>{{ headline }}</h1>

	<form action="" method="post">
    	<div>
        	<label>Attached App:</label>
        	<input type="text" name="appid" value="{{reqbody.appid}}" />
        	<span class="jrErrorInline">{{jrResult.fields.appid}}</span>
    	</div>
      	<div>
        	<label>Room shortcode:</label>
    	   	<input type="text" name="shortcode" value="{{reqbody.shortcode}}"/>
    		<span class="jrErrorInline">{{jrResult.fields.shortcode}}</span>
      	</div>
    	<div>
        	<label>Label:</label>
        	<input type="text" name="label" value="{{reqbody.label}}"/>
        	<span class="jrErrorInline">{{jrResult.fields.label}}</span>
      	</div>
      	<div>
        	<label>Description:</label>
        	<textarea name="description">{{reqbody.description}}</textarea>
        	<span class="jrErrorInline">{{jrResult.fields.description}}</span>
      	</div>
	
	   	<div>
        	<input type="submit" value="Submit" />
    	</div>

    	<input type="hidden" name="_id" value="{{reqbody._id}}">
    	<input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>

