<h1>{{headline}}</h1>

    	<div>
        	<label>Attached App:</label>
    	   	<span>{{obj.appid}}</span>
    	</div>
      	<div>
        	<label><strong>Room shortcode:</strong></label>
    	   	<span>{{obj.shortcode}}</span>
      	</div>
    	<div>
        	<label><strong>Label:</strong></label>
    	   	<span>{{obj.label}}</span>
      	</div>
      	<div>
        	<label><strong>Description:</strong></label>
    	   	<span>{{obj.description}}</span>
      	</div>
