<h1>{{headline}}</h1>

	<form action="" method="post">

    	<div>
        	<label><strong>Attached App:</strong></label>
    	   	<span>{{viewHelperData.applabel}} (#{{obj.appid}})</span>
    	</div>
      	<div>
        	<label><strong>Room shortcode:</strong></label>
    	   	<span>{{obj.shortcode}}</span>
      	</div>
    	<div>
        	<label><strong>Label:</strong></label>
    	   	<span>{{obj.label}}</span>
      	</div>
      	<div>
        	<label><strong>Description:</strong></label>
    	   	<span>{{obj.description}}</span>
      	</div>


		{{#if crudDelete}}
	   	<div>
        	<input type="submit" value="DELETE NOW" />
    	</div>
		{{/if}}


    	<input type="hidden" name="_id" value="{{obj._id}}">
    	<input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
