<h1>{{headline}}</h1>

	<form action="" method="post">

      	<div>
        	<label><strong>Username:</strong></label>
    	   	<span>{{obj.username}}</span>
      	</div>
    	<div>
        	<label><strong>Real Name:</strong></label>
        	<span>{{obj.realname}}</span>
      	</div>
    	<div>
        	<label><strong>Email:</strong></label>
        	<span>{{obj.email}}</span>
      	</div>
		<br/>
      	<div>
        	<label><strong>Last login date:</strong></label>
        	<span>{{obj.loginDate}}</span>
      	</div>


		{{#if crudDelete}}
	   	<div>
        	<input type="submit" value="DELETE NOW" />
    	</div>
		{{/if}}


    	<input type="hidden" name="_id" value="{{obj._id}}">
    	<input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
