<h1>{{ headline }}</h1>

	<form action="" method="post">
      	<div>
        	<label>Username:</label>
    	   	<input type="text" name="username" value="{{reqbody.username}}"/>
    		  <span class="jrErrorInline">{{jrResult.fields.username}}</span>
      	</div>
    	<div>
        	<label>Real Name:</label>
        	<input type="text" name="realname" value="{{reqbody.realname}}"/>
        	<span class="jrErrorInline">{{jrResult.fields.realname}}</span>
      	</div>
    	<div>
        	<label>Email:</label>
        	<input type="text" name="email" value="{{reqbody.email}}"/>
        	<span class="jrErrorInline">{{jrResult.fields.email}}</span>
      	</div>
		<br/>
      	<div>
        	<label>Last login date:</label>
        	<input type="text" name="loginDate" value="{{reqbody.loginDate}}"/>
        	<span class="jrErrorInline">{{jrResult.fields.loginDate}}</span>
      	</div>


	   	<div>
        	<input type="submit" value="Submit" />
    	</div>

    	<input type="hidden" name="_id" value="{{reqbody._id}}">
    	<input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>

